body {
  margin: 1rem !important;
}

.wrapper-test-ether {
  background: #1f354d;
  width: 50% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 2.5rem;
  text-align: center;
}

.wrapper-privacy {
  background: #1f354d;
  width: 50% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  text-align: flex-start;
}

.privacy-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.prelude {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.ending-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.tutorial-button{
  text-decoration: none;
  font-size: 14px !important;
  padding: 1rem;
  background: #1A293C;
  color: #8ab5cd;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
}

.tutorial-button:hover{
  background: #0d1621;
  color: #8ab5cd;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

h5 {
  font-size: 13px;
  font-weight: 300;
}

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
    background: #1f354d;
}

.main-nav.is-closed{
  visibility: hidden!important;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #8ab5cd;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: 300;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #8ab5cd;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #8ab5cd;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #8ab5cd;
}

/* Notice */
.notice {
	position: absolute;
	bottom: -15px;
	left: 0; right: 0;
	padding: 20px;
	background: #F2F2F2;
	color: #5A3B5D;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	z-index: 100;
	text-align: center;
}
.notice strong {
	font-weight: 700;
}
.notice a {
	padding: 2px 3px;
	background: #FEDC2A;
	text-decoration: none;
}
