@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i);

html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .3s cubic-bezier(.5, .2, .2, 1.1);
  color: #8ab5cd !important;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  overflow: hidden;
}

h1 {
  color: #8fccfe;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 13px;
  padding: 0;
  margin: 0;
}

a {
  color: #8ab5cd !important;
  text-decoration: none;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

#tutorial-link {
  text-decoration: none;
  color: #fff !important;
}

#tutorial-link:hover {
  color: #66c1f4 !important;
}

a:hover {
  color: #66c1f4 !important;
}

.title {
  display: block;
  font-size: 28px;
  color: #8fccfe;
}

#section-title {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-weight: 400 !important;
}

#section-text {
  font-weight: 300 !important;
}

.page {
  position: absolute;
}

#p1 {
  background: #03152b !important;
  left: 5;
}

#p1, a {
  color: #8ab5cd !important;
}

#p2, #p3, #p4, #p5, #p6, #p7, #p8 {
  background: #1A293C;
  left: 205%;
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5,
#t6:target #p6,
#t7:target #p7,
#t8:target #p8 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: .4s !important;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon,
#T5:target #p1 .icon,
#T6:target #p1 .icon,
#T7:target #p1 .icon,
#T8:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #8ab5cd !important;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.5;
}

ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -1;
  margin: auto;
  height: 280px;
  width: 14%;
  text-align: flex-start;
  padding-inline-start: 20px!important;
}

#menu {
  display: flex;
  flex-direction: column;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}

#p4 {
  display: inherit !important;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15%;
  left: 0;
  width: 270px auto;
  height: 170px auto;
  padding: 3rem;
  margin: auto;
  text-align: flex-start;
  font-size: 16px;
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
  height: 220px;
  transform: translateX(10%) !important;
  padding: 10rem;
}

#hydro-logo {
  height: 30px;
  width: 30px;
  padding-left: 1rem;
}

/* todo: mobile mode! */
@media screen and (max-width:736px) {
  html, body, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
