  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292929;
    color: white;
}

h1 {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 780px) { 
    body {
        background-size: 80vw;
    }

    h1 {
    font-size: 2rem;
    }
}