@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i);

a, b, body, center, div, form, h1, h2, h3, h4, h5, h6, header, html, i, img, label, li, p, q, s, section, span, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #7db5d2 !important
}

header, section {
  display: block
}

body {
  line-height: 1
}

ul {
  list-style: none
}

q {
  quotes: none
}

q:after, q:before {
  content: "";
  content: none
}

body {
  -webkit-text-size-adjust: none
}

input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none
}

@-moz-keyframes load-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes load-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-ms-keyframes load-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes load-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

html {
  width: 100%;
  height: 100%
}

html {
  box-sizing: border-box
}

*, :after, :before {
  box-sizing: inherit
}

body {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -ms-overflow-style: scrollbar;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  overflow: hidden
}

body:before {
  -moz-animation: load-spinner 1s infinite linear;
  -webkit-animation: load-spinner 1s infinite linear;
  -ms-animation: load-spinner 1s infinite linear;
  animation: load-spinner 1s infinite linear;
  -moz-transition: opacity .25s ease;
  -webkit-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  transition: opacity .25s ease;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin: -2rem 0 0 -2rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='96px' height='96px' viewBox='0 0 96 96' zoomAndPan='disable'%3E%3Cstyle%3Ecircle %7Bfill: transparent%3B stroke: %232e2b37%3B stroke-width: 1.5px%3B %7D%3C/style%3E%3Cdefs%3E%3CclipPath id='corner'%3E%3Cpolygon points='0,0 48,0 48,48 96,48 96,96 0,96' /%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23corner)'%3E%3Ccircle cx='48' cy='48' r='32'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
  opacity: 0
}

body:after {
  pointer-events: none;
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #1a293c
}

body.is-preload *, body.is-preload :after, body.is-preload :before {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important
}

body.is-preload:before {
  -moz-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -moz-transition-delay: .75s;
  -webkit-transition-delay: .75s;
  -ms-transition-delay: .75s;
  transition-delay: .75s;
  opacity: .25
}

@media screen and (max-width:736px) {
  html {
    height: auto
  }

  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto
  }
}

@media screen and (max-width:480px) {
  body, html {
    min-width: 320px
  }
}

html {
  font-size: 18pt;
  font-size: 1vmax
}

@media screen and (max-width:1680px) {
  html {
    font-size: 12pt;
    font-size: 1.1vmax
  }
}

@media screen and (max-width:1280px) {
  html {
    font-size: 11pt;
    font-size: 1.5vmax
  }
}

body, input, select, textarea {
  color: rgba(255, 255, 255, .75);
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.65
}

a {
  -moz-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
  -webkit-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
  transition: color .2s ease-in-out, border-bottom-color .2s ease-in-out;
  color: inherit;
  text-decoration: none
}

a:hover {
  border-bottom-color: transparent;
  color: #ffe4b4
}

b {
  color: rgba(255, 255, 255, .875);
  font-weight: 400
}

i {
  font-style: italic
}

p {
  margin: 0 0 1.5rem 0
}

body.is-ie p {
  width: 100%
}

h1, h2, h3, h4, h5, h6 {
  color: rgba(255, 255, 255, .875);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 .75rem 0;
  letter-spacing: -.05em
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none
}

h1.major, h2.major, h3.major {
  position: relative
}

h1.major:after, h2.major:after, h3.major:after {
  content: "";
  position: absolute;
  left: 0;
  width: 3.5rem;
  height: .1rem;
  background-color: rgba(255, 255, 255, .25)
}

h1 {
  font-size: 3rem;
  line-height: 1.2
}

h1.major {
  margin: 0 0 2.625rem 0
}

h1.major:after {
  bottom: -1.325rem
}

h2 {
  font-size: 1.75rem;
  line-height: 1.2
}

h2.major {
  margin: 0 0 1.9875rem 0
}

h2.major:after {
  bottom: -1.2rem
}

h3 {
  font-size: 1.325rem
}

h3.major {
  margin: 0 0 1.875rem 0
}

h3.major:after {
  bottom: -.75rem
}

h4 {
  font-size: 1rem
}

h5 {
  font-size: .9rem
}

h6 {
  font-size: .7rem
}

.align-left {
  text-align: left
}

.align-center {
  text-align: center
}

.align-right {
  text-align: right
}

@media screen and (max-width:736px) {
  html {
    font-size: 12pt
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.2
  }

  h1.major {
    margin: 0 0 2.625rem 0
  }

  h1.major:after {
    bottom: -1.325rem
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2
  }

  h2.major {
    margin: 0 0 1.9875rem 0
  }

  h2.major:after {
    bottom: -1.2rem
  }

  h3 {
    font-size: 1rem
  }

  h3.major {
    margin: 0 0 1.875rem 0
  }

  h3.major:after {
    bottom: -.75rem
  }

  h4 {
    font-size: 1rem
  }

  h5 {
    font-size: .9rem
  }

  h6 {
    font-size: .7rem
  }

  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none
  }
}

@media screen and (max-width:360px) {
  html {
    font-size: 11pt
  }
}

form {
  margin: 0 0 1.5rem 0
}

form>:last-child {
  margin-bottom: 0
}

label {
  color: rgba(255, 255, 255, .875);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 700;
  margin: 0 0 .4875rem 0
}

input[type=email], input[type=password], input[type=tel], input[type=text], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: 0 0;
  border: solid 2px rgba(255, 255, 255, .25);
  border-radius: .25rem;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 .75rem;
  text-decoration: none;
  width: 100%
}

input[type=email]:invalid, input[type=password]:invalid, input[type=tel]:invalid, input[type=text]:invalid, select:invalid, textarea:invalid {
  box-shadow: none
}

input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, select:focus, textarea:focus {
  border-color: #ffe4b4
}

option {
  background-color: rgba(255, 255, 255, .875);
  color: #2e2b37
}

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.25)' /%3E%3C/svg%3E");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 2.5rem;
  padding-right: 2.5rem;
  text-overflow: ellipsis
}

select option {
  color: rgba(255, 255, 255, .875);
  background: #2e2b37
}

select:focus::-ms-value {
  background-color: transparent
}

select::-ms-expand {
  display: none
}

input[type=email], input[type=password], input[type=text], select {
  height: 2.5rem
}

textarea {
  padding: .75rem 1rem
}

input[type=checkbox], input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1
}

input[type=checkbox]+label, input[type=radio]+label {
  text-decoration: none;
  position: relative;
  color: rgba(255, 255, 255, .75);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
  padding-left: 2.5rem;
  padding-right: 1rem
}

input[type=checkbox]+label:before, input[type=radio]+label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 900
}

input[type=checkbox]+label:before, input[type=radio]+label:before {
  content: "";
  display: inline-block;
  font-size: .8rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.6875rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  background: rgba(255, 255, 255, .075);
  border: solid 1px rgba(255, 255, 255, .25);
  border-radius: .25rem;
  color: #2e2b37;
  text-align: center
}

body.is-ie input[type=checkbox]+label:before, body.is-ie input[type=radio]+label:before {
  line-height: 1.5
}

input[type=checkbox]:checked+label:before, input[type=radio]:checked+label:before {
  content: "\f00c";
  background: rgba(255, 255, 255, .875);
  border-color: rgba(255, 255, 255, .875)
}

input[type=checkbox]:focus+label:before, input[type=radio]:focus+label:before {
  border-color: #ffe4b4;
  box-shadow: 0 0 0 1px #ffe4b4
}

input[type=checkbox]:focus:checked+label:before, input[type=radio]:focus:checked+label:before {
  background: #ffe4b4
}

input[type=checkbox]+label:before {
  border-radius: .25rem
}

input[type=radio]+label:before {
  border-radius: 100%
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5) !important;
  opacity: 1
}

:-moz-placeholder {
  color: rgba(255, 255, 255, .5) !important;
  opacity: 1
}

::-moz-placeholder {
  color: rgba(255, 255, 255, .5) !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, .5) !important;
  opacity: 1
}

.icon {
  text-decoration: none;
  position: relative;
  border-bottom: none
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400
}

.icon>.label {
  display: none
}

.icon:before {
  line-height: inherit
}

.icon.solid:before {
  font-weight: 900
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands"
}

.banner img {
  float: right
}

.image {
  display: inline-block;
  position: relative;
  border: 0
}

.image[data-position] img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.image[data-position="top left"] img {
  -moz-object-position: top left;
  -webkit-object-position: top left;
  -ms-object-position: top left;
  object-position: top left
}

.image[data-position=top] img {
  -moz-object-position: top;
  -webkit-object-position: top;
  -ms-object-position: top;
  object-position: top
}

.image[data-position="top right"] img {
  -moz-object-position: top right;
  -webkit-object-position: top right;
  -ms-object-position: top right;
  object-position: top right
}

.image[data-position=right] img {
  -moz-object-position: right;
  -webkit-object-position: right;
  -ms-object-position: right;
  object-position: right
}

.image[data-position="bottom right"] img {
  -moz-object-position: bottom right;
  -webkit-object-position: bottom right;
  -ms-object-position: bottom right;
  object-position: bottom right
}

.image[data-position=bottom] img {
  -moz-object-position: bottom;
  -webkit-object-position: bottom;
  -ms-object-position: bottom;
  object-position: bottom
}

.image[data-position="bottom left"] img {
  -moz-object-position: bottom left;
  -webkit-object-position: bottom left;
  -ms-object-position: bottom left;
  object-position: bottom left
}

.image[data-position=left] img {
  -moz-object-position: left;
  -webkit-object-position: left;
  -ms-object-position: left;
  object-position: left
}

.image[data-position=center] img {
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center
}

.image[data-position="25% 25%"] img {
  -moz-object-position: 25% 25%;
  -webkit-object-position: 25% 25%;
  -ms-object-position: 25% 25%;
  object-position: 25% 25%
}

.image[data-position="75% 25%"] img {
  -moz-object-position: 75% 25%;
  -webkit-object-position: 75% 25%;
  -ms-object-position: 75% 25%;
  object-position: 75% 25%
}

.image[data-position="75% 75%"] img {
  -moz-object-position: 75% 75%;
  -webkit-object-position: 75% 75%;
  -ms-object-position: 75% 75%;
  object-position: 75% 75%
}

.image[data-position="25% 75%"] img {
  -moz-object-position: 25% 75%;
  -webkit-object-position: 25% 75%;
  -ms-object-position: 25% 75%;
  object-position: 25% 75%
}

.image img {
  display: block
}

.image.left, .image.right {
  max-width: 40%
}

.image.left img, .image.right img {
  width: 100%
}

.image.left {
  float: left;
  padding: 0 1.5rem 1rem 0;
  top: .25rem
}

.image.right {
  float: right;
  padding: 0 0 1rem 1.5rem;
  top: .25rem
}

.image.main {
  display: block;
  margin: 0 0 2.25rem 0;
  width: 100%
}

.image.main img {
  width: 100%
}

ul {
  margin: 0 0 1.5rem 0
}

ul li {
  padding-left: .5rem
}

ul.alt {
  list-style: none;
  padding-left: 0
}

ul.alt li {
  border-top: solid 1px rgba(255, 255, 255, .25);
  padding: .5rem 0
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: column;
  cursor: default;
  list-style: none;
  margin-left: -.75rem;
  padding-left: 0
}

ul.actions li {
  padding: 0 0 0 .75rem;
  vertical-align: middle;
  font-size: 12px
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0
}

ul.icons li {
  display: inline-block;
  padding: 0 1rem 0 0
}

ul.icons li:last-child {
  padding-right: 0
}

ul.icons li .icon:before {
  font-size: 1.25em
}

ul.grid-icons {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding-left: 0
}

ul.grid-icons .icon {
  display: block;
  position: relative;
  width: 100%;
  text-align: center
}

ul.grid-icons .icon:before {
  display: block;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  border-radius: 6rem;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .25);
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center
}

body.is-ie ul.grid-icons .icon:before {
  line-height: 2.375
}

ul.grid-icons>li {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  position: relative;
  margin: 1.5rem 0 0 1.5rem;
  padding-left: 0
}

ul.grid-icons.connected>li:before {
  content: "";
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 2px;
  top: 50%;
  left: -1.5rem;
  background-color: rgba(255, 255, 255, .25)
}

ul.grid-icons.connected>li:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 4.6rem;
  top: -4.5rem;
  left: 50%;
  background-color: rgba(255, 255, 255, .25)
}

ul.grid-icons.three {
  width: 21.5rem
}

ul.grid-icons.three>li:nth-child(-n+3) {
  margin-top: 0
}

ul.grid-icons.three>li:nth-child(-n+3):after {
  display: none
}

ul.grid-icons.three>li:nth-child(3n-2) {
  margin-left: 0
}

ul.grid-icons.three>li:nth-child(3n-2):before {
  display: none
}

@media screen and (max-width:736px) {
  ul.grid-icons {
    width: 100% !important;
    margin: -1rem 0 1.5rem -1rem
  }

  ul.grid-icons .icon:before {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.75rem
  }

  ul.grid-icons>li {
    margin: 1rem 0 0 1rem !important
  }

  ul.grid-icons>li:before {
    display: none !important
  }

  ul.grid-icons>li:after {
    display: none !important
  }
}

ul.contact-icons {
  list-style: none;
  padding-left: 0
}

ul.contact-icons>li {
  margin: 1.25rem 0 0 0;
  padding-left: 0
}

ul.contact-icons>li:before {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  border-radius: 2.25rem;
  background-color: #7db5d2;
  color: #2e2b37;
  cursor: default;
  font-size: 1.125rem;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle
}

body.is-ie ul.contact-icons>li:before {
  line-height: 2.125
}

ul.contact-icons>li a {
  border-bottom: 0
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
  transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out, color .2s ease-in-out;
  background-color: #1a293c;
  border: 0;
  border-radius: .25rem;
  color: #7db5d2 !important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .6rem;
  font-weight: 700;
  height: 2.75rem;
  letter-spacing: .15rem;
  line-height: 2.75rem;
  padding: 0 1.5rem 0 1.65rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap
}

.button:hover, button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  background: #0b1a2e;
  color: #fff !important
}

.button:active, button:active, input[type=button]:active, input[type=reset]:active, input[type=submit]:active {
  background-color: rgba(255, 228, 180, .125)
}

.button.icon:before, button.icon:before, input[type=button].icon:before, input[type=reset].icon:before, input[type=submit].icon:before {
  display: inline-block;
  position: relative;
  top: -.075rem;
  vertical-align: middle;
  font-size: .8rem;
  margin: 0 .375rem 0 -.325rem
}

.button:disabled, button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
  pointer-events: none;
  cursor: default;
  opacity: .5
}

@-moz-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-ms-keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes gallery-modal-spinner {
  0% {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }

  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.panel {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-right: 1rem;
  background: #1f354d !important;
}

.panel>* {
  position: relative;
  min-width: 10rem
}

.panel>.intro {
  padding: 3.5rem 3.5rem 2rem 3.5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 22rem
}

.panel>.intro.joined {
  width: 18.5rem;
  padding-right: 0
}

.panel>.intro.joined+.inner {
  padding-left: 2.625rem
}

.panel>.inner {
  padding: 3.5rem 3.5rem 2rem 3.5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%
}

.panel>.inner.columns {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.panel>.inner.columns>* {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: 3.5rem
}

.panel>.inner.columns>:first-child {
  margin-left: 0
}

.panel>.inner.columns.divided>* {
  margin-left: 7rem
}

.panel>.inner.columns.divided>:before {
  content: "";
  position: absolute;
  top: 3.5rem;
  width: 2px;
  height: calc(100% - 7rem);
  margin-left: -3.5rem
}

.panel>.inner.columns.divided>:first-child {
  margin-left: 0
}

.panel>.inner.columns.divided>:first-child:before {
  display: none
}

.panel>.inner.columns.aligned {
  -moz-align-items: -moz-flex-start;
  -webkit-align-items: -webkit-flex-start;
  -ms-align-items: -ms-flex-start;
  align-items: flex-start
}

.panel .span-0-25 {
  width: 2.5rem
}

.panel .span-0-5 {
  width: 5rem
}

.panel .span-0-75 {
  width: 7.5rem
}

.panel .span-1-25 {
  width: 12.5rem
}

.panel .span-1-5 {
  width: 15rem
}

.panel .span-1-75 {
  width: 17.5rem
}

.panel .span-2 {
  width: 20rem
}

.panel .span-2-25 {
  width: 22.5rem
}

.panel .span-2-5 {
  width: 25rem
}

.panel .span-2-75 {
  width: 27.5rem
}

.panel .span-3 {
  width: 30rem
}

.panel .span-3-25 {
  width: 32.5rem
}

.panel .span-3-5 {
  width: 35rem
}

.panel .span-3-75 {
  width: 37.5rem
}

.panel .span-4 {
  width: 40rem
}

.panel .span-4-25 {
  width: 42.5rem
}

.panel .span-4-5 {
  width: 45rem
}

.panel .span-4-75 {
  width: 47.5rem
}

.panel .span-5 {
  width: 50rem
}

.panel .span-5-25 {
  width: 52.5rem
}

.panel .span-5-5 {
  width: 55rem
}

.panel .span-5-75 {
  width: 57.5rem
}

.panel .span-6 {
  width: 60rem
}

.panel .span-6-25 {
  width: 62.5rem
}

.panel .span-6-5 {
  width: 65rem
}

.panel .span-6-75 {
  width: 67.5rem
}

.panel .span-7 {
  width: 70rem
}

.panel .span-7-25 {
  width: 72.5rem
}

.panel .span-7-5 {
  width: 75rem
}

.panel .span-7-75 {
  width: 77.5rem
}

.panel .span-8 {
  width: 80rem
}

.panel .span-8-25 {
  width: 82.5rem
}

.panel .span-8-5 {
  width: 85rem
}

.panel .span-8-75 {
  width: 87.5rem
}

.panel .span-9 {
  width: 90rem
}

.panel .span-9-25 {
  width: 92.5rem
}

.panel .span-9-5 {
  width: 95rem
}

.panel .span-9-75 {
  width: 97.5rem
}

.panel .span-10 {
  width: 100rem
}

.panel.medium {
  width: 50rem
}

.panel.medium .span-0-25 {
  width: 2.5%
}

.panel.medium .span-0-5 {
  width: 5%
}

.panel.medium .span-0-75 {
  width: 7.5%
}

.panel.medium .span-1 {
  width: 10%
}

.panel.medium .span-1-25 {
  width: 12.5%
}

.panel.medium .span-1-5 {
  width: 15%
}

.panel.medium .span-1-75 {
  width: 17.5%
}

.panel.medium .span-2 {
  width: 20%
}

.panel.medium .span-2-25 {
  width: 22.5%
}

.panel.medium .span-2-5 {
  width: 25%
}

.panel.medium .span-2-75 {
  width: 27.5%
}

.panel.medium .span-3 {
  width: 30%
}

.panel.medium .span-3-25 {
  width: 32.5%
}

.panel.medium .span-3-5 {
  width: 35%
}

.panel.medium .span-3-75 {
  width: 37.5%
}

.panel.medium .span-4 {
  width: 40%
}

.panel.medium .span-4-25 {
  width: 42.5%
}

.panel.medium .span-4-5 {
  width: 45%
}

.panel.medium .span-4-75 {
  width: 47.5%
}

.panel.medium .span-5 {
  width: 50%
}

.panel.medium .span-5-25 {
  width: 52.5%
}

.panel.medium .span-5-5 {
  width: 55%
}

.panel.medium .span-5-75 {
  width: 57.5%
}

.panel.medium .span-6 {
  width: 60%
}

.panel.medium .span-6-25 {
  width: 62.5%
}

.panel.medium .span-6-5 {
  width: 65%
}

.panel.medium .span-6-75 {
  width: 67.5%
}

.panel.medium .span-7 {
  width: 70%
}

.panel.medium .span-7-25 {
  width: 72.5%
}

.panel.medium .span-7-5 {
  width: 75%
}

.panel.medium .span-7-75 {
  width: 77.5%
}

.panel.medium .span-8 {
  width: 80%
}

.panel.medium .span-8-25 {
  width: 82.5%
}

.panel.medium .span-8-5 {
  width: 85%
}

.panel.medium .span-8-75 {
  width: 87.5%
}

.panel.medium .span-9 {
  width: 90%
}

.panel.medium .span-9-25 {
  width: 92.5%
}

.panel.medium .span-9-5 {
  width: 95%
}

.panel.medium .span-9-75 {
  width: 97.5%
}

.panel.medium .span-10 {
  width: 100%
}

@media screen and (max-width:736px) {
  .panel {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-right: 0 !important
  }

  .panel>.intro {
    padding: 2.8875rem 1.75rem 1.3875rem 1.75rem;
    width: 100% !important;
    height: 500px auto;
    align-items: center
  }

  .panel>.intro.joined {
    padding-bottom: 0;
    padding-right: 1.75rem
  }

  .panel>.intro.joined+.inner {
    display: flex;
    padding-top: 0;
    padding-left: 1.75rem;
    justify-content: center;
    align-items: center
  }

  .panel>.inner {
    padding: 2.8875rem 1.75rem 1.3875rem 1.75rem
  }

  .panel>.inner.columns {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .panel>.inner.columns>* {
    margin-left: 0;
    margin-top: 0
  }

  .panel>.inner.columns>:first-child {
    margin-top: 0
  }

  .panel>.inner.columns.divided>* {
    margin-left: 0;
    margin-top: 3.5rem
  }

  .panel>.inner.columns.divided>:before {
    content: "";
    position: absolute;
    top: auto;
    left: 1.75rem;
    width: calc(100% - 3.5rem);
    height: 2px;
    margin-left: 0;
    margin-top: -1.75rem
  }

  .panel>.inner.columns.divided>:first-child {
    margin-top: 0
  }

  .panel .span-0-25 {
    width: 100%
  }

  .panel .span-0-5 {
    width: 100%
  }

  .panel .span-0-75 {
    width: 100%
  }

  .panel .span-1 {
    width: 100%
  }

  .panel .span-1-25 {
    width: 100%
  }

  .panel .span-1-5 {
    width: 100%
  }

  .panel .span-1-75 {
    width: 100%
  }

  .panel .span-2 {
    width: 100%
  }

  .panel .span-2-25 {
    width: 100%
  }

  .panel .span-2-5 {
    width: 100%
  }

  .panel .span-2-75 {
    width: 100%
  }

  .panel .span-3 {
    width: 100%
  }

  .panel .span-3-25 {
    width: 100%
  }

  .panel .span-3-5 {
    width: 100%
  }

  .panel .span-3-75 {
    width: 100%
  }

  .panel .span-4 {
    width: 100%
  }

  .panel .span-4-25 {
    width: 100%
  }

  .panel .span-4-5 {
    width: 100%
  }

  .panel .span-4-75 {
    width: 100%
  }

  .panel .span-5 {
    width: 100%
  }

  .panel .span-5-25 {
    width: 100%
  }

  .panel .span-5-5 {
    width: 100%
  }

  .panel .span-5-75 {
    width: 100%
  }

  .panel .span-6 {
    width: 100%
  }

  .panel .span-6-25 {
    width: 100%
  }

  .panel .span-6-5 {
    width: 100%
  }

  .panel .span-6-75 {
    width: 100%
  }

  .panel .span-7 {
    width: 100%
  }

  .panel .span-7-25 {
    width: 100%
  }

  .panel .span-7-5 {
    width: 100%
  }

  .panel .span-7-75 {
    width: 100%
  }

  .panel .span-8 {
    width: 100%
  }

  .panel .span-8-25 {
    width: 100%
  }

  .panel .span-8-5 {
    width: 100%
  }

  .panel .span-8-75 {
    width: 100%
  }

  .panel .span-9 {
    width: 100%
  }

  .panel .span-9-25 {
    width: 100%
  }

  .panel .span-9-5 {
    width: 100%
  }

  .panel .span-9-75 {
    width: 100%
  }

  .panel .span-10 {
    width: 100%
  }

  .panel.medium {
    width: 100% !important
  }

  .panel.medium .span-0-25 {
    width: 100%
  }

  .panel.medium .span-0-5 {
    width: 100%
  }

  .panel.medium .span-0-75 {
    width: 100%
  }

  .panel.medium .span-1 {
    width: 100%
  }

  .panel.medium .span-1-25 {
    width: 100%
  }

  .panel.medium .span-1-5 {
    width: 100%
  }

  .panel.medium .span-1-75 {
    width: 100%
  }

  .panel.medium .span-2 {
    width: 100%
  }

  .panel.medium .span-2-25 {
    width: 100%
  }

  .panel.medium .span-2-5 {
    width: 100%
  }

  .panel.medium .span-2-75 {
    width: 100%
  }

  .panel.medium .span-3 {
    width: 100%
  }

  .panel.medium .span-3-25 {
    width: 100%
  }

  .panel.medium .span-3-5 {
    width: 100%
  }

  .panel.medium .span-3-75 {
    width: 100%
  }

  .panel.medium .span-4 {
    width: 100%
  }

  .panel.medium .span-4-25 {
    width: 100%
  }

  .panel.medium .span-4-5 {
    width: 100%
  }

  .panel.medium .span-4-75 {
    width: 100%
  }

  .panel.medium .span-5 {
    width: 100%
  }

  .panel.medium .span-5-25 {
    width: 100%
  }

  .panel.medium .span-5-5 {
    width: 100%
  }

  .panel.medium .span-5-75 {
    width: 100%
  }

  .panel.medium .span-6 {
    width: 100%
  }

  .panel.medium .span-6-25 {
    width: 100%
  }

  .panel.medium .span-6-5 {
    width: 100%
  }

  .panel.medium .span-6-75 {
    width: 100%
  }

  .panel.medium .span-7 {
    width: 100%
  }

  .panel.medium .span-7-25 {
    width: 100%
  }

  .panel.medium .span-7-5 {
    width: 100%
  }

  .panel.medium .span-7-75 {
    width: 100%
  }

  .panel.medium .span-8 {
    width: 100%
  }

  .panel.medium .span-8-25 {
    width: 100%
  }

  .panel.medium .span-8-5 {
    width: 100%
  }

  .panel.medium .span-8-75 {
    width: 100%
  }

  .panel.medium .span-9 {
    width: 100%
  }

  .panel.medium .span-9-25 {
    width: 100%
  }

  .panel.medium .span-9-5 {
    width: 100%
  }

  .panel.medium .span-9-75 {
    width: 100%
  }

  .panel.medium .span-10 {
    width: 100%
  }
}

.panel.banner {
  -moz-align-items: -moz-stretch;
  -webkit-align-items: -webkit-stretch;
  -ms-align-items: -ms-stretch;
  align-items: stretch
}

.panel.banner .content {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  background: #1f354d !important;
}

.panel.banner .content>.actions:last-child {
  margin-bottom: 0
}

.panel.banner .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  position: relative
}

.panel.banner .image img {
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.panel.banner.left {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row
}

.panel.banner.right {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

@media screen and (max-width:736px) {
  .panel.banner .content {
    padding: 20.8875rem 1.75rem 1.3875rem 1.75rem
  }

  .panel.banner .content>.actions:last-child {
    margin-bottom: 1.5rem
  }

  .panel.banner .image {
    -moz-flex-basis: 40%;
    -webkit-flex-basis: 40%;
    -ms-flex-basis: 40%;
    flex-basis: 40%
  }
}

@media screen and (max-width:736px) and (orientation:portrait) {
  .panel.banner .content {
    -moz-flex-basis: auto;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto
  }

  .panel.banner .image {
    -moz-flex-basis: auto;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    height: 18rem
  }

  .panel.banner.left {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .panel.banner.right {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

#page-wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  height: 100%;
  padding: 5rem
}

@media screen and (orientation:portrait) {
  #page-wrapper {
    padding-left: 2rem;
    padding-right: 2rem
  }
}

@media screen and (min-aspect-ratio:16 / 7) {
  #page-wrapper {
    padding: 6vh
  }
}

@media screen and (min-aspect-ratio:16 / 6) {
  #page-wrapper {
    padding: 0
  }
}

@media screen and (max-width:736px) {
  #page-wrapper {
    height: auto;
    padding: 1rem
  }
}

@media screen and (max-width:480px) {
  #page-wrapper {
    padding: 0
  }
}

#wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -moz-transition: opacity 1s ease-out, -moz-transform .75s ease-out;
  -webkit-transition: opacity 1s ease-out, -webkit-transform .75s ease-out;
  -ms-transition: opacity 1s ease-out, -ms-transform .75s ease-out;
  transition: opacity 1s ease-out, transform .75s ease-out;
  -moz-transition-delay: .25s;
  -webkit-transition-delay: .25s;
  -ms-transition-delay: .25s;
  transition-delay: .25s;
  cursor: default;
  position: relative;
  height: 32rem
}

body.is-preload #wrapper {
  -moz-transform: translateX(2rem);
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
  opacity: 0
}

@media screen and (max-width:736px) {
  #wrapper {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin: 0;
    box-shadow: 0 .25rem 1.5rem .25rem rgba(46, 43, 55, .5)
  }

  body.is-preload #wrapper {
    -moz-transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem)
  }

  .da-columns {
    flex-direction: row !important;
    width: 200px;
    margin-bottom: 1rem
  }
}

@media screen and (max-width:480px) {
  #wrapper {
    box-shadow: none
  }

  body.is-preload #wrapper {
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

.transparent-icon:before {
  color: #7db5d2 !important;
  background-color: transparent !important;
  font-size: 2.2rem !important
}

.transparent-icon:hover:before {
  color: #fff !important;
  cursor: pointer
}

@media only screen and (min-device-width :768px) and (max-device-width :1024px) {
  body {
    overflow-x: auto
  }
}

.product_list {
  width: 200px auto;
  display: flex;
  flex-direction: column;
  margin: 1rem
}

.product_header {
  width: 150px auto;
  display: flex;
  justify-content: flex-start;
  background: 0 0;
  font-size: 10px !important
}

.roadmap_list {
  font-size: 12px;
  margin: 1rem;
  line-height: 160%
}

.roadmap_list>a>li:hover {
  color: #fff !important
}

label {
  display: flex;
  justify-content: flex-start !important;
  color: #fff !important;
  font-size: 9px;
  font-style: italic;
  margin-bottom: -.7rem
}

.da-member {
  background: #1a293c;
  color: #7db5d2;
  border-radius: 5px;
  padding: 2rem
}

.center-everything {
  display: flex !important;
  margin: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.button-row {
  display: flex;
  flex-direction: row
}

.next-button {
  margin-left: 2rem;
  margin-right: 2rem
}

.da-buttons {
  display: flex;
  flex-direction: row
}

.button-da {
  border-bottom: none;
  background: 0 0;
  color: #7db5d2;
  padding: 10px;
  margin: 10px;
  border-radius: 5px
}

.da-name {
  margin-bottom: 0;
  font-size: 14px
}

.da-position {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px
}

.da-pic {
  padding-top: 10px;
  padding-bottom: 15px;
  opacity: 1 !important
}

#overlayContactUs, #overlayMist, #overlayRaindrop, #overlayDocs, #overlayTutorial, #overlaySnippets {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .79);
  z-index: 2;
  cursor: pointer
}

#text-mist, #text-raindrop, #text-Docs, #text-tutorial, #text-snippets {
  background: #1a293c !important;
  color: #7db5d2 !important;
  padding: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 10px
}

#overlayContactUsText {
  background: #1a293c !important;
  color: #7db5d2 !important;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: #000;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 10px
}

#fcf-form {
  display: block
}

.fcf-form-group {
  margin: .5rem;
  background: 0 0 !important;
  color: #00324e !important
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%
}

.fcf-form-class {
  color: #00324e !important
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00324e;
  background-color: #7db5d2;
  background-clip: padding-box;
  border: 1px solid #00324e;
  outline: 0;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.fcf-form-control:focus {
  border: 1px solid #00324e
}

textarea.fcf-form-control {
  font-family: Muli;
  background: #6f87a3;
  height: 100%;
  width: 250px
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, #fff);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textarea;
  background-color: -internal-light-dark(#fff, #3b3b3b);
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: none;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #c3c3c3);
  border-image: initial;
  padding: 2px
}

label.fcf-label {
  display: inline-block;
  margin-bottom: .5rem;
  color: #7db5d2 !important
}

.fcf-credit {
  padding-top: 10px;
  font-size: .9rem;
  color: #00324e
}

.fcf-credit a {
  color: #00324e;
  text-decoration: underline
}

.fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
  .fcf-btn {
    transition: none
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none
}

.fcf-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.waves {
  position: relative;
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: -5.5rem
}

.content {
  position: relative;
  text-align: center;
  background-color: #fff
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0)
  }

  100% {
    transform: translate3d(85px, 0, 0)
  }
}

@media (max-width:768px) {
  .waves {
    height: 80px;
    min-height: 40px;
    margin-bottom: 0 !important
  }
}

img:hover {
  opacity: .5
}

img:hover {
  opacity: .5
}

.Languages {
  padding: 1.5rem 3.5rem 2rem 3.5rem;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 0 0 5rem;
  border-radius: 1rem
}

.Languages .Languages-btns {
  background-color: #1f354d !important;
  border-radius: 1rem
}

.Languages .Language-select {
  height: 3em;
  background: 0 0;
  border-radius: .25em;
  max-width: 6rem
}

.Languages .Language-select option {
  color: rgba(255, 255, 255, .875);
  background: #1f354d
}

.Languages .Languages-btns {
  color: rgba(255, 255, 255, .875);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0;
  border: 0
}

.panel>.Languages {
  display: none
}

a:hover {
  color: #fff !important
}

.partner_column>h3 {
  margin-left: -3rem !important
}

.exchanges_column {
  display: flex;
  flex-direction: column;
  align-items: center
}

.partner_column {
  display: flex;
  flex-direction: column;
  align-items: center
}

.button-contact-us {
  background: #08182d !important;
  margin: .5rem
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center
}

.protocol-pic {
  width: 60px;
  height: 60px;
  padding: 1rem;
  opacity: 1 !important
}

.link-column {
  display: flex;
  flex-direction: column !important;
  text-align: center;
  margin-top: 20rem;
}

.link-column>a {
  padding-right: 2rem;
  cursor: pointer;
  font-weight: bold !important;
  font-size: 16px;
}

.broaden {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.protocol-text {
  font-size: 13px !important;
  padding: 1rem;
}

#protocol-structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#team-structure {
  padding: 2rem;
  align-items: center;
}

#roadmap-structure {
  margin-top: -2rem;
  margin-right: -5rem;
}

#button-structure-contact-us {
  display: flex;
  justify-content: center;
}

#protocol-title {
  padding-top: 1rem;
}

#protocol-center {
  align-items: center;
}

#intro-structure {
  padding: 0px !important
}

#intro-center {
  margin: 2rem;
}

#hydro-logo {
  height: 100px;
  width: 100px;
  opacity: 1 !important;
}

#overlay-mist {
  cursor: pointer;
}

#overlay-raindrop {
  cursor: pointer;
}

#exchange-column-2 {
  padding-top: 2.5rem;
}

@media screen and (max-width:736px) {
  #exchange-column-2 {
    margin-top: 2rem !important;
  }

  #exchanges-partner-structure {
    display: flex;
    flex-direction: row !important;
  }

  #partner-structure {
    margin-top: -3rem;
  }

  #footer-structure {
    margin-top: -3rem;
  }

  .link-column {
    margin-top: 0rem !important;
    display: flex;
    flex-direction: row !important;
  }

  .link-column>a {
    padding: 1rem;
    padding-right:0rem;
  }

  .contact-icons {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .panel>.inner.columns.aligned {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .partner_column>h3 {
    margin-left: 0 !important
  }

  .partner_column {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important
  }

  .exchanges_column {
    padding-top: 0 !important
  }

  .Languages {
    margin-top: 0 !important
  }

  .panel>.Languages {
    display: inline-block
  }

  .Languages-btns {
    background-color: #09243d !important
  }

  .Languages .Language-select select {
    border: none
  }

  .Languages .Language-select select:focus {
    border: none
  }

  .Languages {
    padding: .8875rem 1.75rem 1.3875rem 1.75rem
  }
}
